@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.load-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.load-image-container img {
  width: 100%;
}

.load-image p {
  text-align: center;
  font-size: 250%;
  font-family: "Anton", sans-serif;
}
