@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

header {
  text-align: center;
  background-color: #393939;
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.search-by-name {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-by-name input {
  width: 70%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #1b1b1b;
  text-indent: 5%;
  font-size: 130%;
  outline-width: 0;
  font-family: "DM Sans", sans-serif;
}

@media screen and (max-width: 480px) {
  header {
    height: 120px;
  }

  .search-by-name input {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .image-container {
    width: 46%;
    margin: 1%;
    margin-top: 9%;
  }

  .arrow-drop-down {
    margin-left: 131px;
  }
}

@media screen and (max-width: 1440px) {
  header {
    height: 130px;
  }
  
  .search-by-name input {
    height: 43px;
  }
}
